.main {
  margin: 5rem;
  margin-top: 4rem;
}

@media only screen and (max-width: 600px) {
  .main {
    margin: 2rem;
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 600px) {
  .main {
    margin: 5rem;
    margin-top: 4rem;
  }
}